body {
    background-color: white;
    }

    .gallery img {
        padding: 0;
        margin: 0;
        width: 10%;
        height: 10rem;
        opacity: 0.6;
      }
      
      h1 {
        color: black;
        font-family: verdana;
        font-size: 300%;
      }

      .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      h1 {
        width: 100%;
        text-align: center;
        font: bold Arial
      }

      #angry {
        width: 150px;
        height: 150px;
        background-size: cover;
        background-image: url('red.jpg');
        }

        #crying {
            width: 150px;
            height: 150px;
            background-size: cover;
            background-image: url('blue.png');
            }

            #anxiety {
                width: 150px;
                height: 150px;
                background-size: cover;
                background-image: url('purple.jpg');
                }
            
                #cheesin {
                    width: 150px;
                    height: 150px;
                    background-size: cover;
                    background-image: url('yellow.pgn.png');
                    }


                #heart {
                    width: 150px;
                    height: 150px;
                    background-size: cover;
                    background-image: url('pink.jpg');
                    }

                    #iframeholder {
                        text-align: center;
                        vertical-align: middle;

                    }
            
                

      
